<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/header.css" />
    <link rel="stylesheet" href="stylesheets/<%= cssIndex %>" />
    <link rel="stylesheet" href="stylesheets/footer.css" />
  </head>
  <body>
    <div class="container-fluid">
      <header class="header container-fluid" id="site-header-main">
        <nav class="navbar navbar-expand-lg navbar-dark position-relative">
          <div class="container">
            <ul class="social-list list-inline mb-0">
              <li class="list-inline-item">
                <a
                  href="https://www.linkedin.com/in/mendietasergio/"
                  rel="noopener noreferrer"
                  target="_blank"
                  class="icon-social"
                >
                  <i class="fab fa-linkedin" height="50px"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  href="https://github.com/MendietaSergio"
                  rel="noreferrer"
                  target="_blank"
                  class="icon-social"
                >
                  <i class="fab fa-github-alt" height="50px"></i>
                </a>
              </li>
            </ul>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarCollapse"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div
              id="navbarCollapse"
              class="collapse navbar-collapse text-uppercase"
            >
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a
                    href="https://dev-mendietasergio.com.ar/"
                    target="_blank"
                    rel="noopener noreferrer"
                    title="Portafolio"
                    class="nav-link active"
                  >
                    Portafolio
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    </div>
  </body>
</html>
