<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="stylesheets/<%= css %>">
</head>
<body>
  <div class="container-fluid">
    <header class="header container-fluid" id="site-header-main">
      <div>
        <div class="row">
          <nav class="menu">
            <ul class="logo">
              <li>
                <a
                  href="https://www.linkedin.com/in/mendietasergio/"
                  target="_blank"
                >
                  <img src="images/LinkedIn.png" alt="" width="50" height="50">
                </a>
              </li>
              <li>
                <a
                  href="https://github.com/MendietaSergio"
                  target="_blank"
                >
                  <img src="images/GitHub.png" alt=""width="50" height="50">
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>
  <div class="container">
    <h1> Servidor para envios de email </h1>
  </div>
</body>
</html>
