* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  margin: 0 !important;
}

.container {
  padding: 0;
}

.container-fluid {
  padding: 0 !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e3e3e3bf;
  position: relative;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* INICIO HEADER */
.navbar {
  background-color: rgb(0, 0, 0);
}

.icon-social {
  color: #c1dbf1 !important;
}

.fab {
  font-size: 25px;
}

.navbar-nav {
  font-weight: 600;
}

.navbar-nav a:hover {
  background-color: rgb(114, 119, 119);
  border-radius: 3%;
}

@media (min-width: 768px) {
  .collapse {
    justify-content: end;
  }
}

/* FIN HEADER */
